[run]
data_file = .coverage-reports/.coverage
parallel = False
concurrency = multiprocessing
include = apprise_api
omit =
  *apps.py,
  */migrations/*,
  */core/settings/*,
  */*/tests/*,
  lib/*,
  lib64/*,
  *urls.py,
  */core/wsgi.py,
  gunicorn.conf.py,
  */manage.py

disable_warnings = no-data-collected

[report]
show_missing = True
skip_covered = True
skip_empty = True
fail_under = 75.0
