##
## Apprise Backend Installation
##
## You should only have 1 of the 3 items uncommented below.

## 1. Uncomment the below line to pull the main branch of Apprise:
# apprise @ git+https://github.com/caronc/apprise

## 2. Uncomment the below line instead if you wish to focus on a tag:
# apprise @ git+https://github.com/caronc/apprise@custom-tag-or-version

## 3. The below grabs our stable version (generally the best choice):
apprise == 1.8.0

## Apprise API Minimum Requirements
django
gevent
gunicorn

## for webhook support
requests

## 3rd Party Service support
paho-mqtt < 2.0.0
gntp
cryptography
