{% extends "base.html" %}

{% load i18n %}

{% block sidebar %}
{% endblock sidebar %}
{% block head_js_optional %}
{% endblock head_js_optional %}
{% block scripts_optional %}
{% endblock scripts_optional %}
{% block onload %}
{% endblock onload %}
{% block main_page %}
  <div class="col s12 error-content">
    <div class="section error-page center">
      <h1>413 - {% trans "Content Too Large" %}</h1>
      <i class="material-icons spotlight">file_upload</i>
      <p>{% trans "Reduce the request size or attachments, then try again." %}</p>
    </div>
  </div>
{% endblock main_page %}
