{% extends "base.html" %}

{% load i18n %}

{% block sidebar %}
{% endblock sidebar %}
{% block head_js_optional %}
{% endblock head_js_optional %}
{% block scripts_optional %}
{% endblock scripts_optional %}
{% block onload %}
{% endblock onload %}
{% block main_page %}
  <div class="col s12 error-content">
    <div class="section error-page center">
      <h1>414 - {% trans "URI Too Long" %}</h1>
      <i class="material-icons spotlight">link</i>
      <p>{% trans "Shorten the request URL or move its data into the request body." %}</p>
    </div>
  </div>
{% endblock main_page %}
