{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"
          content="{{ APPRISE_API_DESCRIPTION|default:'Apprise API - notification service API' }}" />
    <meta name="keywords"
          content="{{ APPRISE_API_KEYWORDS|default:'apprise,notifications,api,alerts' }}" />
    <link rel="shortcut icon"
          type="image/png"
          href="{% static 'favicon.ico' %}" />
    <!--materialize-->
    <link rel="stylesheet"
          href="{% get_static_prefix %}css/materialize.min.css" />
    <!--material-design-icons-->
    <link rel="stylesheet" href="{% static 'iconfont/material-icons.css' %}">
    <!--highlightjs-->
    <link rel="stylesheet" href="{% get_static_prefix %}css/highlight.min.css">
    <!--common-->
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <!--materialize-->
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <!--theme-->
    <link rel="stylesheet"
          href="{% get_static_prefix %}css/theme-{{ request.theme|safe }}.min.css">
    <title>
      {% block title %}
        {% trans "Apprise API" %}
      {% endblock title %}
    </title>
  </head>
  <body>
    <div class="content">
      <!-- Title -->
      <div class="nav row nav-color z-depth-2">
        <div class="col s12">
          <a href="{% url 'welcome' %}">
            <img class="apprise-logo left"
                 src="{% get_static_prefix %}logo-{{ request.theme|safe }}.png"
                 alt="{% trans "Apprise Logo" %}" />
          </a>
          <small>&nbsp;<a class="apprise-api-ver" href="{{ APPRISE_API_URL }}" target="_new">v{{ APPRISE_API_VERSION }}</a></small>
          <ul>
            <li>
              <a class="apprise-lib-ver" href="{{ APPRISE_LIB_URL }}" target="_new">
                <img class="apprise-mini-logo left"
                     src="{% get_static_prefix %}logo.png"
                     alt="{% trans "Apprise Logo" %}" />
              APPRISE LIBRARY v{{ APPRISE_LIB_VERSION }}</a>
            </li>
            <li class="theme">
              <a href="{{ request.path }}?theme={{ request.next_theme }}"
                 class="tooltipped"
                 data-position="bottom"
                 data-tooltip="{% trans "Toggle light / dark theme" %}"><i class="material-icons">invert_colors</i></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Page Layout here -->
      <div class="row main-layout">
        <div class="col s12">
          {% block body %}
          {% endblock body %}
        </div>
      </div>
      <footer class="page-footer-legal">
        <small>
          <hr />
          <a href="{{ APPRISE_API_URL }}" target="_new">{% trans "Apprise API" %} v{{ APPRISE_API_VERSION }}</a>
          <br />
          {{ APPRISE_API_COPYRIGHT }}
          ·
          {% blocktrans with license=APPRISE_API_LICENSE %}
              Licensed under the {{ license }} License.
            {% endblocktrans %}
        </small>
      </footer>
    </div>
  </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
      // Materialize Init
      M.AutoInit();
      {% block onload %}{% endblock %}
    });
</script>
</body>
</html>
