.nav h1 {
  margin: 0.4rem;
  font-size: 2.1rem;
  font-weight: bold;
  text-transform: uppercase;
  float: left;
}

/* Apprise Version */
.nav ul {
  float: right;
  font-style: normal;
  font-size: 0.7rem;
}
.theme {
  text-align: right;
  display: block;
  float:right;
}

input {
  display: block;
}

.tabs .tab.disabled a,.tabs .tab.disabled a:hover{font-weight: inherit}

code {
  font-family: monospace;
  white-space: normal;
  padding: 0.2rem;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
}

td, th {
  vertical-align: top;
  padding-top: 0;
}
.api-details ol {
  margin-top: 0;
  margin-bottom: 0;
}

ul.detail-buttons strong {
  font-weight: 800;
}

h4 em {
  font-size: 2.0rem;
  display: inline-block;
  margin: 0;
  padding: 0;
  word-break: break-all;
  line-height: 1.0em;
}

em {
  color: #004d40;
  font-weight:bold;
}

.no-config .info {
  color: #004d40;
  font-size: 3.3rem;

}

textarea {
  height: 16rem;
  font-family: monospace;
}

.collapsible-body {
  padding: 1rem 2rem;
}

#overview strong {
  color: #004d40;
  display: inline-block;
  background-color: #eee;
}

.tabs .tab a{
  border-radius: 25px 25px 0 0;
  color:#2bbbad;
}
.collection a.collection-item:not(.active):hover,
.tabs .tab a:focus, .tabs .tab a:focus.active {
  background-color: #eee;
}
.tabs .tab a:hover,.tabs .tab a.active {
  background-color:transparent;
  color:#004d40;
  font-weight: bold;
  background-color: #eee;
}
.tabs .tab.disabled a,.tabs .tab.disabled a:hover {
  color:rgba(102,147,153,0.7);
}
.tabs .indicator {
  background-color:#004d40;
}
.tabs .tab-locked a {
  /* Handle locked out tabs */
  color:rgba(212, 161, 157, 0.7);
}
.tabs .tab-locked a:hover,.tabs .tab-locked a.active {
  /* Handle locked out tabs */
  color: #6b0900;
}

.material-icons{
  display: inline-flex;
  vertical-align: middle;
}

#url-list .card-panel {
  padding: 0.5rem;
  margin: 0.1rem 0;
  border-radius: 12px;
  width: 50%;
  min-width: 35rem;
  min-height: 12em;
  float: left;
}

.chip {
  margin: 0.3rem;
  background-color: inherit;
  border: 1px solid #464646;
  color: #464646;
  cursor: pointer;
}

#url-list code {
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: wrap;
  text-wrap: wrap;
  overflow-wrap: break-word;
  border-radius: 5px;
  display: block;
}

/* Notification Details */
ul.logs {
  font-family: monospace, monospace;
  height: 60%;
  overflow: auto;
}

ul.logs li {
  display: flex;
  text-align: left;
  width: 50em;
}

ul.logs li div.log_time {
  font-weight: normal;
  flex: 0 15em;
}

ul.logs li div.log_level {
  font-weight: bold;
  align: right;
  flex: 0 5em;
}

ul.logs li div.log_msg {
  flex: 1;
}

ul.logs li.log_INFO {
  color: black;
}

ul.logs li.log_DEBUG {
  color: #606060;
}

ul.logs li.log_WARNING {
  color: orange;
}

ul.logs li.log_ERROR {
  color: #8B0000;
}

.url-enabled {
  color:#004d40;
}
.url-disabled {
  color: #8B0000;
}
h6 {
  font-weight: bold;
}
#overview pre {
  margin-left: 2.0rem
}

code.config-id {
  font-size: 0.7em;
}

/* file button styled */
.btn-file {
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.file-selected {
  line-height: 2.0em;
  font-size: 1.2rem;
  border-radius: 5px;
  padding: 0 1em;
  overflow: hidden;
}

.chip.selected {
	font-weight: 600;
}

#health-check {
	background-color: #f883791f;
  border-radius: 25px;
	padding: 2em;
	margin-bottom: 2em;
}
#health-check h4 {
	font-size: 30px;
}
#health-check h4 .material-icons {
  margin-top: -0.2em;
}

#health-check li .material-icons {
	font-size: 30px;
  margin-top: -0.2em;
}

#health-check ul {
  list-style-type: disc;
  padding-left: 2em;
}

#health-check ul strong {
	font-weight: 600;
	font-size: 1.2rem;
	display: block;
}

