{
  "id": "apprise-terramaster-tos7-app",
  "icon": "/images/icons/apprise-terramaster-tos7-app.svg",
  "publisher": "Chris Caron",
  "path": "http://${ip}:8000",
  "exec": true,
  "open_path": true,
  "resize": true,
  "maxmin": true,
  "width": 0,
  "height": 0,
  "help": "https://appriseit.com/api/",
  "version": "{{VERSION}}",
  "recommend": false,
  "beta": false,
  "low_version": "TOS7.0",
  "category": ["Utilities"],
  "depend": ["DockerEngine"],
  "relation": ["docker", "DockerEngine"],
  "platform": "{{PLATFORM}}",
  "official": "https://github.com/caronc/apprise-api",
  "application_type": "docker",
  "system_id": "",
  "package": "",
  "compose_project": "apprise-terramaster-tos7-app",
  "user": "apprise",
  "all_user_display": true,
  "allow_open_in_mobile": false
}
